<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Manage Expense</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--===============================================================================================-->
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<!-- Los iconos tipo Solid de Fontawesome-->
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
		<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		<!-- Nuestro css-->
		<link rel="stylesheet" type="text/css" href="../../public/static/css/index.css"
			th:href="@{/css/index.css}">
			<style>
				.addBG{
					background-image: url("/static/img/background.jpg");
					background-attachment: fixed;
					background-size: cover;
				}
			</style>
	</head>
	<body class='addBG'>

		{{{body}}}

	</body>


</html>
