<div class="container">
	<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
<br/>


					<div class="card">
						<div class="card-header">
							<h4>Expense Information</h4>
						</div>
						<div class="card-body">
							{{#with expenseContainer.expense}}
							<form class="form" action="/users/{{UserId}}/expenses/{{id}}" method="post"
								role="form" autocomplete="off">
								
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Date</label>
									
									<div class="col-lg-9">
										<div id="datepicker" data-date="12/03/2012"></div>
										<input type="text" readonly='true' id="my_hidden_input" value="{{createdAt}}">

									</div>
									
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Expense</label>
									<div class="col-lg-9">
										<input class="form-control" name="moneySpent"
										type="number" id="replyNumber" min="0" data-bind="value:replyNumber" value="{{moneySpent}}">
									</div>	
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Describe</label>
									<div class="col-lg-9">
										<input class="form-control" type="text" name="describe" value={{describe}}>
									</div>
									{{/with}}
								</div>

								<div class="form-group row">
									<div class="col-lg-12 text-center">

										<input type="submit" class="btn btn-primary" value="submit">
									</div>
								</div>
								
							</form>
						</div>
					</div>
			
	</div>
</div>