<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mi primer Login</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
=======
    <link type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
>>>>>>> 74b29a7b3c473d92ff82e9f1c49b4c6a56b0d3c5

</head>

<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
<<<<<<< HEAD
                    <img src="static/img/user.png" th:src="@{/img/user.png}" />
                </div>
                <form class="col-12" th:action="@{/login}" method="get">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" />
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password" />
=======
                    <img src="./static/img/user.png" th:src="@{/img/user.png}" />
                </div>
                <form class="col-12" action="users/login" method="POST">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="input your username" name="username" />
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="input password" name="password" />
>>>>>>> 74b29a7b3c473d92ff82e9f1c49b4c6a56b0d3c5
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                </form>
                <div class="col-12 forgot">
<<<<<<< HEAD
                    <a href="#">Recordar contrasena?</a>
=======
                    <a href="#">Forgot password</a>
>>>>>>> 74b29a7b3c473d92ff82e9f1c49b4c6a56b0d3c5
                </div>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success" role="alert">
                    You have been logged out.
                </div>
            </div>
        </div>
    </div>
</body>

</html>